body {
    margin: 0px;
    font-family: Cuprum;
}

.usp-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 35px;
    background-color: #fff;
    color: black;
}

.usp-area span {
    font-family: Gotham,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

div .usp-ul-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 250px;
    
}

.usp-ul-list li a {
    text-decoration: none;
    color: #19191b;
    font-size: 14px;
}

.nav-bar {
    background-color: #333;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Gotham, sans-serif;
    font-size: 14px;
}

.left-side-nav > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    vertical-align:middle; 
}

.right-side-nav > a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.left-side-nav a {
    margin-left: 30px;  
    font-weight: bolder;
}

.right-side-nav a {
    margin-right: 30px;  
}